

.item{
    position: relative;
    margin:15px 0

}
.item-caption{

    position: absolute;
    bottom: 20px;
    left:10%;
    width:80%;
    background-color: #fff;

}


#lightBoxContainer{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#lightBoxItem{
    width:50%;
    height: 500px;
    background-image:url(../images/portfolio-1.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

#close{
    position:absolute;
    top:15px;
    right:15px
}